* {
    box-sizing: border-box;
  }
  
  html {
      font-size: 16px;
  }
  body {
      color: #222f5b;
      background-color: #946b2d;
      height: 100%;
  }
  h1 {
      font-family: 'Marck Script', cursive;
      font-size: 3.052em;
  }
  h2, h3 {
      font-family: 'Alegreya', serif;
  }
  h2 {
      font-size: 2.441em;
  }
  h3 {
      font-size: 1.953em;
  }
  p {
      font-family: 'Dosis', sans-serif;
      font-size: 1.25em;
      width: 80%;
    
      margin: auto;
  }
  a {
      color: #222f5b;
      list-style-type: none;
      text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:visited {
      color: #946b2d;
  }
  .bethany {
      float: left;
      margin: auto;
  }
  .bethany>figcaption {
    text-align: center;
  }
  .navbar {
    background-color: #5d5d5d;
  }
  .navbar-nav {
      background-color: #5d5d5d;
      color: #946b2d;
  }
  .intro-headings {
      padding: 5em;
  }
  #timeline {
      clear: both;
  }
  
  .main {
      background-image: url("https://dtarvin.github.io/bioSite/images/Ravenclaw_Crest_opaque.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
      display: grid;
  /*     border: 1px dotted red; */
    height: 100%;
  }
  
  .main>.intro-para {
      grid-column: 2;
      grid-row: 1;
      /* place-items: center left; */
      place-items: middle right;
  /*     border: 1px double blue; */
      width: 40%;
      padding-top: 20%;
  }
  
  .school-logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  
  .section-header {
      text-align: center;
  }
  
  blockquote {
      background: #5d5d5d;
      border-radius: 5px;
      width: 40%;
      margin: auto;
  }
  /* cite {
    width: 40%;
    margin: auto;
  } */
  
  blockquote p {
      padding: 15px;
  }
  
  /* the following code is a codepen from Hue for creating a family tree */
  /* https://codepen.io/simplyhue/pen/pjEYGo */
  
  .tree {
      white-space: nowrap;
      overflow: auto;
  }
  
  .tree ul {
      padding-top: 20px;
      position: relative;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
  }
  
  .tree li {
      text-align: center;
      list-style-type: none;
      position: relative;
      padding: 20px 5px 0 5px;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      /*added for long names*/
  
      float: none;
      display: inline-block;
      vertical-align: top;
      white-space: nowrap;
      margin: 0 -2px 0 -2px;
  }
  /*We will use ::before and ::after to draw the connectors*/
  
  .tree li::before,
  .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
  }
  
  .tree li::after {
      right: auto;
      left: 50%;
      border-left: 1px solid #ccc;
  }
  /*We need to remove left-right connectors from elements without 
  any siblings*/
  
  .tree li:only-child::after,
  .tree li:only-child::before {
    display: none;
  }
  /*Remove space from the top of single children*/
  
  .tree li:only-child {
      padding-top: 0;
  }
  /*Remove left connector from first child and 
  right connector from last child*/
  
  .tree li:first-child::before,
  .tree li:last-child::after {
      border: 0 none;
  }
  /*Adding back the vertical connector to the last nodes*/
    
  .tree li:last-child::before {
      border-right: 1px solid #ccc;
      border-radius: 0 5px 0 0;
      -webkit-border-radius: 0 5px 0 0;
      -moz-border-radius: 0 5px 0 0;
  }
  
  .tree li:first-child::after {
      border-radius: 5px 0 0 0;
      -webkit-border-radius: 5px 0 0 0;
      -moz-border-radius: 5px 0 0 0;
  }
  /*Time to add downward connectors from parents*/
  
  .tree ul ul::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      border-left: 1px solid #ccc;
      width: 0;
      height: 20px;
  }
  
  .tree li a {
      border: 1px solid #ccc;
      padding: 5px 10px;
      text-decoration: none;
      color: #666;
      font-family: arial, verdana, tahoma;
      font-size: 11px;
      display: inline-block;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
  }
  /*Time for some hover effects*/
  /*We will apply the hover effect the the lineage of the element also*/
  
  .tree li a:hover,
  .tree li a:hover+ul li a {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
  }
  /*Connector styles on hover*/
  
  .tree li a:hover+ul li::after,
  .tree li a:hover+ul li::before,
  .tree li a:hover+ul::before,
  .tree li a:hover+ul ul::before {
    border-color: #94a0b4;
  }
  
  .husband {
      float: left;
  }
  
  .wife {
      margin-left: 10px;
  }
  
  .wife::before {
      /* pseudo CSS, will need to be modified */
      
      content: '';
      position: absolute;
      top: 0;
      right: 50%;
      border-top: 1px solid #ccc;
      width: 50%;
      height: 20px;
  }
  
  /* End of code by Hue */
  
  .expando {
    display: none;
  }
  
  .expando:target {
    display: block;
  }
  
  .click-stmt {
    text-align: center;
  }
  
.drawing {
  display: flex;
}
/*   .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  } */
  
/*   .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  } */
  
/*   .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  } */
  
/*   .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  } */
  
/*   .left {
    left: 0;
  }
  
  .right {
    left: 50%;
  } */
  
/*   .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  } */
  
/*   .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  } */
  
/*   .right::after {
    left: -16px;
  } */
  
/*   .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  } */
  
/*   @media screen and (max-width: 600px) {
    .timeline::after {
      left: 31px;
    }
    
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
    
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    } */
    
/*     .left::after, .right::after {
      left: 15px;
    }
    
    .right {
      left: 0%;
    }
  } */
/* html,
body {
  font: 100% "Lato", sans-serif;
  font-weight: lighter;
  height: 100%;
  background-color: #4D4545;
} */

/* .blue-bg {
  background-color: #4D4545;
  color: #ED8D8D;
  height: 100%;
} */

.circle {
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 50%;
  // background-color: #ED8D8D;
    background-color: #222f5b;
  // color: #4D4545;
    color: #946b2d;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row {
  display: flex;
}
.how-it-works.row .col-2 {
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  // border-left: 3px solid #ED8D8D;
    border-left: 3px solid 222f5b;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  // border-top: 3px solid #ED8D8D;
    border-top: 3px solid #222f5b;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #222f5b;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}
